# Cleaning Data

In [1]:
import pandas as pd

sales_data_clean = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Coding dojo data/sales_predictions.csv')
sales_data_clean.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [2]:
#MD is short for missing data, I did this to make the varible names short
Item_Identifier_MD = sales_data_clean.Item_Identifier.isna()

Item_Weight_MD = sales_data_clean.Item_Weight.isna()

Item_Visibility_MD = sales_data_clean.Item_Visibility.isna()

Item_Type_MD = sales_data_clean.Item_Type.isna()

Item_MRP_MD = sales_data_clean.Item_MRP.isna()

Outlet_Identifier_MD = sales_data_clean.Outlet_Identifier.isna()

Outlet_Establishment_Year_MD = sales_data_clean.Outlet_Establishment_Year.isna()

Outlet_Size_MD = sales_data_clean.Outlet_Size.isna()

Outlet_Location_Type_MD = sales_data_clean.Outlet_Location_Type.isna()

Outlet_Type_MD = sales_data_clean.Outlet_Type.isna()

Outlet_Location_Type_MD = sales_data_clean.Outlet_Location_Type.isna()

#I prepared these varibles for easy location of missing items in their respective collums

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Outlet_Location_Type, Length: 8523, dtype: bool

In [4]:
item_data = sales_data_clean.drop( columns= ['Outlet_Identifier','Outlet_Establishment_Year','Outlet_Size','Outlet_Location_Type','Outlet_Location_Type','Outlet_Type'])

item_data.head()

  Item_Identifier  Item_Weight  ...  Item_MRP  Item_Outlet_Sales
0           FDA15         9.30  ...  249.8092          3735.1380
1           DRC01         5.92  ...   48.2692           443.4228
2           FDN15        17.50  ...  141.6180          2097.2700
3           FDX07        19.20  ...  182.0950           732.3800
4           NCD19         8.93  ...   53.8614           994.7052

[5 rows x 7 columns]

In [6]:
item_data_clean = item_data.dropna()

item_data_clean.head()

  Item_Identifier  Item_Weight  ...  Item_MRP  Item_Outlet_Sales
0           FDA15         9.30  ...  249.8092          3735.1380
1           DRC01         5.92  ...   48.2692           443.4228
2           FDN15        17.50  ...  141.6180          2097.2700
3           FDX07        19.20  ...  182.0950           732.3800
4           NCD19         8.93  ...   53.8614           994.7052

[5 rows x 7 columns]

In [8]:
item_data_clean.Item_Type.drop_duplicates() # types of items sold

0                      Dairy
1                Soft Drinks
2                       Meat
3      Fruits and Vegetables
4                  Household
5               Baking Goods
6                Snack Foods
8               Frozen Foods
15                 Breakfast
16        Health and Hygiene
27               Hard Drinks
33                    Breads
43                    Canned
72             Starchy Foods
139                   Others
713                  Seafood
Name: Item_Type, dtype: object

In [22]:
 dairy = item_data_clean['Item_Type'] == 'dairy'

item_data_clean[dairy].Item_Weight.mean()
item_data_clean[dairy].Item_Fat_Content.value_counts() #outputs

Low Fat    4222
Regular    2388
LF          260
reg         106
low fat      84
Name: Item_Fat_Content, dtype: int64